.button {
  --iconColour: var(--white);

  font-size: 1.5rem;
  padding: calc(var(--padding) / 2) var(--padding);
  background-color: var(--hwb-grape-4);
  border-radius: calc(var(--radius) * 2);
  transition: background-color 0.5s ease;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--iconColour);

  & span {
    color: var(--white);
  }
  & svg {
    transition: fill 1s ease;
  }

  &:hover {
    background-color: var(--accent);
    color: var(--white);
  }
}
