.card {
  background: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  container-type: inline-size;
}

@container (max-width: 700px) {
  .card {
    background: var(--yellow);
  }
}

@container (min-width: 500px) {
  .card {
    background: var(--yellow);
  }
}
