.card {
  background: var(--white);
  padding: var(--padding);
  display: flex;
  flex-direction: column;

  & h1 {
    color: red;
  }

  @container (min-width: 600px) {
    background: var(--aqua);
  }
}

p {
  @nest .card & {
    color: var(--yellow);
  }
}