.main {
  background: var(--hwb-grey-1);
  container-type: inline-size;
  display: grid;
  grid-gap: calc(var(--padding) / 2);
  grid-template-rows: auto 1fr 1fr;
  min-height: 100vh;
  padding: var(--padding);
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 100%;
  }
}

.site {
  display: grid;
  grid-template-columns: minmax(100px, 1000px);
  place-content: center;
}
