.card {
  --local-bg: var(--hwb-grape-2);
  background: var(--local-bg);
  color: color-contrast(var(--local-bg) vs black, white);
  display: flex;
  flex-direction: column;
  padding: var(--padding);

  & h1 {
    margin: 0 0 var(--textMB) 0;
  }

  & p {
    margin: 0 0 var(--textMB) 0;
  }

  /* @container (min-width: 600px) {
    background: var(--aqua);
  } */
}

/* p {
  @nest .card & {
    color: var(--yellow);
  }
} */
