.card {
  --local-bg: var(--hwb-grape-2);
  background: var(--local-bg);
  border-radius: var(--radius);
  color: color-contrast(var(--local-bg) vs var(--black), var(--white));
  container-name: card;
  container-type: inline-size;
  display: flex;

  &:nth-child(odd) {
    --local-bg: var(--hwb-grape-3);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding) / 2);
  justify-content: space-between;
  padding: var(--padding);

  & p {
    margin: 0 0 var(--textMB) 0;
    opacity: 0.9;
  }

  @container card (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 100%;
    gap: calc(var(--padding) * 2);
  }
}

.content {
  @container card (min-width: 800px) {
    flex: 1 1 60%;
  }
}

.icons {
  display: flex;
  gap: calc(var(--padding) / 2);

  @container card (min-width: 400px) {
    flex-direction: column;
  }

  @container card (min-width: 800px) {
    flex: 1 1 40%;
    align-self: baseline;
  }
}

.iconlink {
  display: flex;
  padding: calc(var(--padding) / 2);
  flex: 1 1 100%;
  place-content: center;
  border: 1px solid
    color-contrast(var(--local-bg) vs var(--black), var(--white));
  align-items: center;
  border-radius: var(--radius);
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--accent);
  }

  & .text {
    display: none;
    font-weight: 600;

    @container card (min-width: 400px) {
      display: flex;
    }
  }

  @container card (min-width: 400px) {
    justify-content: space-between;
    padding: var(--padding);
  }

  @container card (min-width: 800px) {
    padding: calc(var(--padding) / 2);
    flex: 1 1 40%;
  }
}
