.card {
  --local-bg: var(--hwb-grape-2);
  background: var(--local-bg);
  color: color-contrast(var(--local-bg) vs var(--black), var(--white));
  container-name: liam;
  container-type: inline-size;
  display: flex;

  &:nth-child(odd) {
    --local-bg: var(--hwb-grape-3);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding);

  & h1 {
    margin: 0 0 var(--textMB) 0;
  }

  & p {
    margin: 0 0 var(--textMB) 0;
  }

  @container liam (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 100%;
    gap: calc(var(--padding) / 2);
  }

  /* @container liam (max-width: 600px) {
    --local-bg: var(--hwb-grape-4);
  } */
}
.content {
  @container liam (min-width: 800px) {
    flex: 1 1 60%;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding) / 2);

  @container liam (min-width: 800px) {
    flex: 1 1 40%;
  }
}

.iconwrap {
  display: flex;
  padding: var(--padding);
  flex: 1 1 100%;
  justify-content: space-between;

  border: 1px solid color-contrast(var(--local-bg) vs var(--black), var(--white));

  @container liam (min-width: 800px) {
    padding: calc(var(--padding) / 2);
    flex: 1 1 40%;
  }
}

/* .text {
  background-color: yellow;
} */
