.icons {
  display: flex;
  gap: calc(var(--padding) / 2);

  @container card (min-width: 400px) {
    flex-direction: column;
  }

  @container card (min-width: 800px) {
    flex: 1 1 40%;
    align-self: baseline;
  }

  & .iconlink {
    display: flex;
    padding: calc(var(--padding) / 2);
    flex: 1 1 100%;
    place-content: center;
    border: 1px solid;
    border-color: color-contrast(var(--local-bg) vs var(--black), var(--white));
    align-items: center;
    border-radius: var(--radius);
    transition: all 0.5s ease;

    &:hover {
      background-color: var(--accent);
    }

    & .text {
      display: none;
      font-weight: 600;

      @container card (min-width: 400px) {
        display: flex;
      }
    }

    @container card (min-width: 400px) {
      justify-content: space-between;
      padding: var(--padding);
    }

    @container card (min-width: 800px) {
      padding: calc(var(--padding) / 2);
      flex: 1 1 40%;
    }
  }
}
