.intro {
  --local-bg: var(--hwb-grape-5);
  background: var(--local-bg);
  color: color-contrast(var(--local-bg) vs black, white);
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  border-radius: var(--radius-lg);

  & p {
    margin: 0 0 calc(var(--textMB) * 2) 0;
    opacity: .9;
  }

  @media (--ipad) {
    grid-column: span var(--grid-columns);
  }
}
