.footer {
  --local-bg: var(--hwb-grape-4);
  background: var(--local-bg);
  color: color-contrast(var(--local-bg) vs var(--black), var(--white));
  display: flex;
  padding: var(--padding);
  place-content: center;
  border-radius: var(--radius) var(--radius) 0 0;
  font-size: 0.8rem;
}
