.menu::part(button) {
  color: var(--hwb-grape-4);
  background-color: var(--white);
  padding: 1rem 3rem;
  border-radius: 5px;
}

.menu::part(listbox) {
  padding: 20px;
  margin-top: 5px;
  border: 1px solid var(--white);
  border-radius: 5px;
}

.menu {
  & option {
    align-items: center;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: .5rem;
    transition: all .2s ease;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }
  }
}
