/* stylelint-disable string-quotes */
.main {
  background: var(--pink);
  padding: 2rem;
  min-height: 100vh;
  display: grid;
  /* grid-template-rows: 1fr 3fr 1fr 3fr; */
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(60px, auto));
  /* container-type: inline-size; */

  container-type: inline-size;
  /* container-name: card; */
  
  @media (--phone) {
    grid-template-columns: repeat(1, minmax(60px, auto));
  }
}

.layout {
  display: grid;
}

@media (--ipad) {
  .layout {
    grid-template-rows: 4rem 1fr auto;
    grid-template-columns: 25% 1fr;
    /* stylelint-disable-next-line declaration-colon-space-after */
    grid-template-areas: 
      'header header'
      'sidebar main'
      'footer footer';
  }
}
