.main {
  background: var(--pink);
  container-type: inline-size;
  display: grid;
  grid-gap: calc(var(--padding) / 2);
  grid-template-rows: auto 1fr 1fr;
  min-height: 100vh;
  padding: var(--padding);

  @media (--phone) {
    grid-template-columns: repeat(1, minmax(60px, auto));
  }
}
