.nav {
  align-self: center;
  display: flex;
  gap: calc(var(--padding) / 2);

  & a {
    align-items: center;
    border-radius: var(--radius);
    border: 1px solid var(--white);
    display: inline-flex;
    gap: calc(var(--paddingBtn) / 2);
    padding: calc(var(--paddingBtn) / 2) var(--paddingBtn);
    transition: background-color var(--timing) ease;

    &:hover {
      background-color: var(--accent);
    }
  }
}
