.nav {
  display: flex;
  gap: 1rem;
  align-self: center;

  & a {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid var(--white);
    padding: 1rem 2rem;
    border-radius: var(--radius);
    transition: background-color .4s ease; 

    &:hover {
      background-color: var(--accent);
    }
  }
}
